{{- /*
delay: IO delay action. You can specify the latency before the IO operation returns a result.
*/}}
{{- if .Values.ioChaos.enabled -}}
apiVersion: chaos-mesh.org/v1alpha1
kind: IoChaos
metadata:
  name: io-delay-db
spec:
  action: latency
  mode: one
  selector:
    namespace:
      - kubedepend
    labelSelectors:
      app: kubedepend-db-app
  volumePath: /var/lib/mysql
  path: "/var/lib/mysql/**/*"
  {{- if eq .Values.ioChaos.strength "low"}}
  delay: "1000ms"
  {{- else if eq .Values.ioChaos.strength "high" }}
  delay: "5000ms"
  {{- else }}
  delay: "2500ms"
  {{- else end }}
  percent: 100
  duration: "60s"
  scheduler:
    cron: "@every 2m"
{{- end }}