{{- if .Values.networkPartitionChaos.enabled -}}
{{/*
Network Partition action separates pods into several independent subnets by blocking communication between them.
*/}}
apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: network-partition
spec:
  action: partition
  mode: fixed-percent
  {{- if eq .Values.networkPartitionChaos.strength "low" }}
  value: {{ .Values.mode.fixPercent.low | quote }}
  {{- else if eq .Values.networkPartitionChaos.strength "high" }}
  value: {{ .Values.mode.fixPercent.high | quote }}
  {{- else }}
  value: {{ .Values.mode.fixPercent.medium | quote }}
  {{- end }}
  selector:
    namespace:
      - kubedepend
  direction: both
  target:
    selector:
      namespaces:
        - kubedepend
    mode: fixed-percent
    {{- if eq .Values.networkPartitionChaos.strength "low" }}
    value: 20
    {{- else if eq .Values.networkPartitionChaos.strength "high" }}
    value: 35
    {{- else }}
    value: 50
    {{- end }}
  duration: "5s"
  scheduler:
    cron: "@every 15s"
{{- end }}