{{- if .Values.stressCpuChaos.enabled -}}
apiVersion: chaos-mesh.org/v1alpha1
kind: StressChaos
metadata:
  name: burn-cpu
spec:
  mode: fixed-percent
  {{- if eq .Values.stressCpuChaos.strength "low" }}
  value: {{ .Values.mode.fixPercent.low | quote }}
  {{- else if eq .Values.stressCpuChaos.strength "high" }}
  value: {{ .Values.mode.fixPercent.high | quote }}
  {{- else }}
  value: {{ .Values.mode.fixPercent.medium | quote }}
  {{- end }}
  selector:
    namespaces:
      - kubedepend
  stressors:
    cpu:
      workers: 4
      {{- if eq .Values.stressCpuChaos.strength "low" }}
      load: "20"
      {{- else if eq .Values.stressCpuChaos.strength "high" }}
      load: "80"
      {{- else }}
      load: "50"
      {{- end }}
  duration: "60s"
  scheduler:
    cron: "@every 2m"
{{- end }}